.card{
   width: 300px;
   height: 270px;
   margin: 20px 0 0 10px;
   background: #FFFFFF;
   border: 1px solid #E0E0E0;
   box-sizing: border-box;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   text-align: center;
}