.start {
   transition: 1s;
}

.start.move {
   margin-left: 500px;
}

.baloon {
   width: 200px;
   height: 200px;
   background: rgb(0, 0, 0);
   border-radius: 50px;
   position: absolute;
   cursor: pointer;
   color: white;
   text-align: center;
}

.baloon p {
   margin-top: 80px;
}