.form {
   width: 600px;
   height: 200px;
   background-color: rgba(211, 206, 198, 0.288);
   text-align: center;
   padding-top: 1px;
}
.cards {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 900px;
   height: 600px;
}